 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


// Custom Styles

ul, li {
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  @include outer-container;
}

.sidebar {
  @include span-columns(3);
  min-height: 600px;
  margin-top: 20px;
  background-color: grey;
}

#posts {
  @include span-columns(9);

  li {
    @include span-columns(3 of 9);
    @include omega(3n);
    min-height: 100px;
    margin-top: 20px;
    padding: 5px;
    background-color: grey;
  }

  img {
    width: 100%;
  }

  h4 {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  span.whoMade {
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  span.price {
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}