 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Partials
@import 'colors';
@import 'fonts';

// Custom Styles

* {
  font-size: 12px;
  font-family: $arial;
  list-style: none;
}

ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  background: $grey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  @include outer-container;
  max-width: 1000px;
  padding: 10px;
}

.sidebar {
  @include span-columns(3);
  min-height: 600px;
  background-color: white;
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 14px;
  font-size: 13px;
  line-height: 24px;

  h4 {
    color: $darkgrey;
  }

  h5 {
    color: $blue;
  }

  a {
    color: $blue;
    font-size: 13px;
  }

  ul {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 18px;
    margin-bottom: 18px;
  }

  li {
    margin-left: 10px;
  }

  input {
    margin-right: 10px;
  }

  .price-filter {
    width: 20px;
    border-radius: 2px;
  }
}

#posts {
  @include span-columns(9);

  li {
    @include span-columns(3 of 9);
    @include omega(3n);
    padding: 5px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #ececec;
    border-radius: 3px;
    position: relative;

    &:hover {
      box-shadow: -0.25px 0.25px 4px $darkgrey;

      .icons {
        display: block;
      }
    }
  }

  img {
    width: 100%;
  }

  .icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;

    a {
      width: 25px;
      height: 25px;
      display: inline-block;
      background-color: white;
      margin-left: 5px;
      border-radius: 2px;
      border: 1px solid #ececec;
      background-size: 70%;
      background-position: center;
      background-repeat: no-repeat;
      opacity: .9;

      &:hover {
        opacity: 1;
        box-shadow: -0.25px 0.25px 4px $darkgrey;
      }
    }

    .like {
      background-image: url("../images/heart.png");
    }

    .options {
      background-image: url("../images/hamburger.png");
    }
  }

  a.title {
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
  }

  a.whoMade {
    width: 50%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b2b2b2;
  }

  span.price {
    width: 50%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $green;
    text-align: right;

    &::before {
      content: "$";
    }
  }
}